@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "Demonstration";
  src: url(/fonts/Demonstration.ttf), url(/Khaki/fonts/Demonstration.ttf);
}
html {
  scroll-padding-top: var(--scroll-padding, 70px);
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  overflow: overlay;
}
h1 {
  font-size: 3vw;
  font-family: "Demonstration";
}
h2 {
  margin-top: 0px;
  margin-bottom: 1vh;
  font-size: 4vw;
  font-family: "Cabin", sans-serif;
  letter-spacing: 3px;
}
h2p {
  font-size: 3vw;
  margin: 0px;
  height: fit-content;
  font-family: "Jost", sans-serif;
}
p {
  font-family: Arial;
}
bar {
  z-index: 15;
  position: fixed;
  top: 0;
  height: 10vh;
  background-color: #c2ded100;
  width: 100vw;
  display: flex;
  align-items: center;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.1s ease-in-out,
    background-color 0.5s ease-in-out;
}
nav {
  position: absolute;
  height: 100%;
  width: max-content;
  right: 20vh;
  top: 0vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: flex-end;
}
nav a {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: min(10px);
  padding-left: min(10px);
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}
.bio {
  flex-direction: row !important;
  justify-content: space-evenly !important;
  align-items: stretch !important;
}
.pfp {
  position: relative;
  width: 20vw;
  aspect-ratio: 0.79;
}
.pfptxt {
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  width: 65vw;
  font-size: 2.6vh;
  text-align: justify;
  text-justify: auto;
}
.pfpContainer {
  width: max-content;
  background-color: #c2ded1;
}
.title {
  position: absolute;
  font-size: 2.1vw;
  margin: 0px;
  height: fit-content;
  left: 20vh;
  font-family: "Jost", sans-serif;
}
.pattern {
  position: relative;
  height: 50vh;
  width: auto;
  aspect-ratio: 0.76;
  margin-bottom: -1.6vw;
}
.fill {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #2f8f9d;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
nav a:hover {
  transform: translateY(1vh);
  padding-top: -1vh;
}
.underline {
  position: relative;
}
.underline::before {
  z-index: 0;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  bottom: -1px;
  height: 2px;
  background-color: #2f8e9dae;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
h1.name::before {
  content: "";
  margin-top: 1vw;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 1vw;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  display: block;
}
h1.name::after {
  content: "";
  margin-top: -0.5vw;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 1vw;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  display: block;
}
#screen1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  float: top;
  background-color: #c2ded1;
}
.centerin {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#screen2 {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 3vh;
  height: max-content;
  width: 100vw;
  float: top;
  background-color: aliceblue;
}
.square {
  aspect-ratio: 1;
}
.fill {
  width: 100%;
  height: 100%;
}
.name {
  position: relative;
  height: min-content;
  width: 90vw;
  text-align: center;
  margin: 0;
}
h1.name {
  font-size: 4.3vw;
  opacity: 0.8;
}
.button {
  text-align: center;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  position: relative;
  background-color: #ece5c7;
  color: black;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 2vh;
  transition: letter-spacing 0.35s ease-in-out, border-radius 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.button:hover {
  letter-spacing: 8px;
  border-radius: 4vh;
  background-color: #e8deae;
}
/* mobile menu */
#pencet {
  display: none;
  align-items: center;
  right: 3vh;
  position: absolute;
  flex-direction: column;
  cursor: pointer;
}
#pencet span {
  background-color: rgb(0, 0, 0);
  width: 2em;
  height: 0.2em;
  margin: 0.26em 0;
  display: block;
  transition: all 0.4s ease;
  transform-origin: 0 0;
}
.Diam span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -1px);
}
.Diam span:nth-child(2) {
  transform: scaleX(0);
}
.Diam span:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0);
}
@media (max-aspect-ratio: 12/7) {
  .title {
    left: 3vh;
  }
  #pencet {
    display: flex;
  }
  nav {
    z-index: -1;
    padding-top: 10vh;
    padding-bottom: 2vh;
    width: 100vw;
    height: 50vh;
    background-color: #dfeee7;
    left: 0vh;
    top: -65vh;
    right: unset;
    flex-direction: column;
    transition: top 0.5s ease-in-out;
  }
}
@media (max-aspect-ratio: 9/3) {
  .title {
    left: 3vh;
    font-size: 5vh;
  }
  nav {
    right: 3vh;
  }
  nav a {
    font-size: 3vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  h1.name {
    font-size: 9vw;
    opacity: 0.8;
  }
  h2 {
    font-size: 9vw;
  }
  h2p {
    font-size: 5.5vw;
  }
  .bio {
    flex-direction: column !important;
    align-items: center !important;
  }
  .pfp {
    position: relative;
    background-color: #2f8f9d;
    height: min-content;
    width: 80vw;
    aspect-ratio: 0.79;
  }
  .pfptxt {
    position: relative;
    width: 80vw;
    height: 100%;
    font-size: 2.6vh;
  }
}
