RewriteEngine on

#Gzip
php_flag zlib.output_compression on
AddOutputFilterByType DEFLATE text/text text/html text/plain text/css text/xml application/x-javascript application/javascript text/javascript
#End Gzip

ErrorDocument 404 /404.html

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://mysteryexe.cf/ [NC]
RewriteRule \.(gif|jpg|jpeg|bmp|zip|rar|mp3|flv|swf|xml|php|png|css|pdf)$ - [F]

<FilesMatch ".(css|pl|php|cgi|spl|scgi|fcgi|js)$">
Header unset Cache-Control
</FilesMatch>

ForceType application/x-httpd-php
ForceType application/x-httpd-php

Options All -Indexes

AddType image/svg+xml .svg .svgz
