RewriteEngine on
RewriteCond %{HTTP_HOST} ^mysteryexe.cf [NC,OR]
RewriteRule ^(.*)$ http://mysteryexe.cf/$1 [L,R=301,NC]

RewriteCond %{HTTP_HOST} ^mysteryexe.cf [NC]
RewriteRule ^(.*)$ https://mysteryexe.cf/$1 [L,R=301,NC]

Redirect 301 / https://mysteryexe.cf/

ErrorDocument 404 /404.html
