@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 200%;
  }
}
.bgTexture {
  width: 150vw;
  height: 150vh;
  top: -10vh;
  margin: 0;
  z-index: 0;
  position: absolute;
  background-repeat: repeat;
  background-size: 33.3vw;
  background-position: 0px 0px;
  animation: animatedBackground 200s linear infinite;
  background-image: url(/content/sky.webp);
  background-color: white;
  overflow: hidden;
  pointer-events: visible;
}
.bgcontainer {
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0vh;
  width: 100vw;
}
.gradient {
  width: 100%;
  padding-bottom: 10vh;
  background-size: 100% 100%;
  overflow: hidden;
  background-repeat: repeat;
  height: 25vh;
  position: absolute;
  z-index: -1;
  background-image: url("https://cdn.discordapp.com/attachments/851753816881102869/938324317983350864/Gradient.png");
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  overflow: overlay;
  z-index: -10000;
}
img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
nav {
  position: fixed;
  height: 100vh;
  width: 51px;
  left: 0;
  background-color: black;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  align-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(0vw 0vh 2vw #000000);
}
h1 {
  overflow: visible;
  font-family: "Do Hyeon", sans-serif;
  color: #000000fc;
  font-size: 7.3vw;
  height: 7vw;
  width: calc(100vw - 50px);
  left: 50px;
  text-align: center;
  z-index: -1;
  line-height: 100vh;
  margin: 0;
  position: absolute;
  user-select: none;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #00000072;
  -webkit-font-smoothing: antialiased;
  top: 12.5vh;
}
h1 span {
  transition: color 0.5s;
  transition: -webkit-text-stroke-color 0.5s;
}
h1 span:hover {
  color: #000000;
  background: url(https://cycling74-web-uploads.s3.amazonaws.com/5600596f5cc0a22f43bf9091/2021-03-16T23:50:16Z/line-noise-loop.gif)
    10% 0 / cover no-repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-family: "Do Hyeon", sans-serif;
  color: rgba(255, 255, 255, 0.99);
  width: calc(100vw - 50px);
  margin: 0;
  text-align: center;
  font-size: 5.3vw;
  letter-spacing: 0.3vw;
  user-select: none;
}
h3 {
  font-family: "Do Hyeon", sans-serif;
  color: rgba(255, 255, 255, 0.59);
  width: calc(100% - 5vh);
  margin: 0;
  text-align: center;
  font-size: 4.3vw;
  letter-spacing: 0.3vw;
  position: absolute;
  transition: opacity 1s ease;
  writing-mode: vertical-rl;
  transform: skewY(7.5deg);
  user-select: none;
  pointer-events: none;
}
p {
  user-select: none;
  font-family: "Hubballi", cursive;
  color: rgba(0, 0, 0, 0.9);
  top: calc(9vh + 5.6vw);
  font-size: 1.7vw;
  height: auto;
  width: calc(100vw - 50px);
  left: 50px;
  text-align: center;
  z-index: -2;
  line-height: 100vh;
  margin: 0;
  position: absolute;
}
a {
  transition: all 0.5s ease-in-out;
  color: white;
  font-weight: bold;
  box-shadow: inset 0 0 0 0 #ffffff;
  font-style: bold;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 500px 0 0 0 #ffffff;
}
a#icon:hover {
  box-shadow: inset 500px 0 0 0 rgb(0, 0, 0, 0);
}
p2 {
  position: absolute;
  text-align: center;
  width: calc(100vw - 50px);
  height: auto;
  font-size: 1.6vw;
  font-family: "Hubballi", cursive;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 2vh;
}
p3 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  font-family: "Hubballi", cursive;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 2vh;
  z-index: 10;
  bottom: 0.8%;
  transition: opacity 1s ease;
  user-select: none;
}
p4 {
  left: 5vw;
  text-align: left;
  width: 100%;
  height: auto;
  font-size: 2.5vw;
  font-family: "Hubballi", cursive;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 2vh;
  z-index: 10;
  bottom: 0.8%;
  transition: opacity 1s ease;
  user-select: none;
}
shape {
  display: block;
}
#desc {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 5vw;
  padding-top: 10%;
}
#icon {
  height: 24vh;
  width: 30px;
  z-index: 3;
  transform: rotate(-90deg);
  transition: transform 1s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#icon svg {
  transition: fill 1s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#icon:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
}
#icon svg:hover {
  fill: rgb(255, 255, 255);
}
rotate {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  display: none;
  z-index: 100;
}
.lineleft {
  width: 100%;
  height: 100vh;
  background-color: black;
}
#next {
  width: 3.5vw;
  aspect-ratio: 1;
  position: absolute;
  right: 1vw;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 1vw;
  user-select: none;
}
#previous {
  width: 3.5vw;
  aspect-ratio: 1;
  position: absolute;
  left: 1vw;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 1vw;
  transform: rotate(180deg);
  user-select: none;
}
inproject {
  top: auto;
  bottom: auto;
  margin: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 1vw;
  overflow: hidden;
  cursor: default;
}
.projectdiv {
  height: 30vw;
  background-color: rgb(0, 0, 0, 0.2);
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 6vw;
  cursor: pointer;
  transition: height 2s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.projectimg {
  width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
}
#prjicon {
  position: absolute;
  width: 90%;
  height: 90%;
  align-self: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 1s cubic-bezier(1, -0.01, 0.67, 1);
  animation-play-state: paused;
}
#prj1 {
  transition: width 2s ease-in-out;
  width: 20%;
}
#prj2 {
  transition: width 2s ease-in-out;
  width: 20%;
}
#prj3 {
  transition: width 2s ease-in-out;
  width: 20%;
}
#prj4 {
  transition: width 2s ease-in-out;
  width: 20%;
}
#projectscontainer {
  width: calc(100%);
  position: relative;
  height: auto;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  transition: height 2s ease-in-out;
  z-index: 10;
}
#screen1 {
  width: calc(100% - 50px);
  height: 100vh;
  margin-left: 50px;
  position: relative;
  pointer-events: none;
  background: none;
}
#projects {
  width: calc(100% - 50px);
  height: auto;
  margin-left: 50px;
  position: relative;
  transition: height 2s ease-in-out;
}
#contact {
  height: auto;
  padding-bottom: 5vh;
  width: calc(100% - 50px);
  margin-left: 50px;
  position: relative;
  z-index: 10;
}
#btmnav {
  background-color: black;
  width: calc(100vw - 50px);
  height: 15vh;
  position: relative;
  margin-left: 50px;
}
#svg1holder {
  margin-left: calc(50vw - 50px);
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 50vw;
  pointer-events: none;
}
#svg1 {
  float: right;
  width: auto;
  height: 100%;
  aspect-ratio: unset;
  pointer-events: none;
}
#svg2holder {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 50vw;
  pointer-events: none;
}
#svg2 {
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  aspect-ratio: unset;
  pointer-events: none;
}
#svg3holder {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: calc(100vw - 50px);
  pointer-events: none;
}
#svg3 {
  position: absolute;
  float: right;
  width: 100%;
  height: auto;
  bottom: 0;
  aspect-ratio: unset;
  pointer-events: none;
}
#svg4holder {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}
#svg4 {
  position: absolute;
  float: right;
  width: 100%;
  height: auto;
  bottom: 0;
  aspect-ratio: unset;
  pointer-events: none;
  opacity: 0.9;
  z-index: -10;
}
#svg5 {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#flowerHolder {
  position: absolute;
  width: 72vw;
  right: -23vw;
  top: -26vw;
  opacity: 0.5;
  z-index: 0;
}
#cityholder {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: calc(100vw - 50px);
  bottom: 0;
}
#citybg {
  position: absolute;
  float: right;
  width: 100%;
  height: auto;
  bottom: 0;
  aspect-ratio: unset;
}
#secondbg {
  width: auto;
  background-image: url(/content/webp/blksand.webp);
  background-repeat: repeat;
  background-size: 60vh;
  overflow: hidden;
}
#contactcontainer {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-evenly;
}
::-moz-selection {
  /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255, 0.95);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255, 0.95);
}
@media only screen and (max-width: 1250px) {
  .bgTexture {
    background-size: 33vw;
    animation: animatedBackground 250s linear infinite;
  }
  #svg1holder {
    margin-left: calc(30vw - 50px);
    width: 70vw;
  }
  #svg2holder {
    width: 70vw;
  }
  #svg1 {
    float: right;
    width: auto;
    height: 100%;
  }
  p {
    top: calc(10.5vh + 5.6vw);
    font-size: 2.2vw;
  }
  p2 {
    font-size: 1.9vw;
  }
  p3 {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 900px) {
  .bgTexture {
    background-size: 50vw;
    animation: animatedBackground 200s linear infinite;
  }
  #svg1holder {
    margin-left: calc(30vw - 50px);
    width: 70vw;
    height: 70vh;
  }
  #svg2holder {
    margin-top: 30vh;
    width: 70vw;
    height: 70vh;
  }
  #svg1 {
    float: right;
    width: auto;
    height: 100%;
  }
  p2 {
    font-size: 2.6vw;
  }
  p3 {
    font-size: 2.1vw;
  }
  h2 {
    font-size: 9.3vw;
  }
  .projectdiv {
    width: 40%;
    height: 50vw;
    background-color: rgb(0, 0, 0, 0.2);
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
  }
  #prj1 {
    transition: width 2s ease-in-out;
    width: 40%;
  }
  #prj2 {
    transition: width 2s ease-in-out;
    width: 40%;
  }
  #prj3 {
    transition: width 2s ease-in-out;
    width: 40%;
  }
  #prj4 {
    transition: width 2s ease-in-out;
    width: 40%;
  }
}
@media only screen and (max-width: 650px) {
  .bgTexture {
    background-size: 50vw;
    animation: animatedBackground 50s linear infinite;
  }
  #svg1holder {
    margin-left: calc(30vw - 50px);
    width: 70vw;
    height: 50vh;
  }
  #svg2holder {
    margin-top: 50vh;
    width: 70vw;
    height: 50vh;
  }
  #svg1 {
    float: right;
    width: auto;
    height: 100%;
  }
  h1 {
    font-size: 10vw;
  }
  p {
    opacity: 0;
  }
  p2 {
    font-size: 3.6vw;
  }
  p3 {
    font-size: 2.9vw;
    bottom: 0;
  }
  p4 {
    font-size: 3.4vw;
  }
  #next {
    width: 7.5vw;
  }
  #previous {
    width: 7.5vw;
  }
}
@media only screen and (max-aspect-ratio: 9/20) {
  rotate {
    display: flex;
  }
}
@media only screen and (max-aspect-ratio: 4/3) {
  #svg1holder {
    margin-left: calc(30vw - 50px);
    width: 70vw;
    height: 60vh;
  }
  #svg2holder {
    margin-top: 40vh;
    width: 70vw;
    height: 60vh;
  }
  #svg1 {
    float: right;
    width: auto;
    height: 100%;
  }
  p {
    top: calc(11vh + 5.6vw);
  }
}
@media only screen and (max-aspect-ratio: 9/10) {
  #svg1holder {
    margin-left: calc(30vw - 50px);
    width: 70vw;
    height: 50vh;
  }
  #svg2holder {
    margin-top: 55vh;
    width: 70vw;
    height: 45vh;
  }
  #svg1 {
    float: right;
    width: auto;
    height: 100%;
  }
  p {
    top: calc(11vh + 5.6vw);
  }
}
